<!DOCTYPE html>
<html>

<head>
<title>Medicures</title>

<link rel="stylesheet" type="text/css" href="css/index.css">


<style>
body {
	font-family: Georgia, serif;
}
</style>
</head>
<body>
    {{>header}}
    {{>footer}}
</body>
</html>