	<div class="entirebody">
		<div class="logo">
			<img src="img//logos1.png">
		</div>
		<div class="topnav" id="myTopnav">
			<a href="#home" class="active">Home</a>
		    <a href="#">Login</a>
			<a href="#">Generate ID</a> 
			<a href="#">About</a> 
			<a href="#">Contact</a>
		</div>
	</div>